body{
    background: linear-gradient(45deg,#010758,#490d61);
    font-family: Arial;
    text-align: center;
    color: white;
    padding-top: 60px;
}

.container{
    width: 500px;
    margin: auto;
}

textarea{
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

button{
    padding: 10px 20px;
    margin: 5px;
    background: #ff2963;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

button:hover{
    background: #ff5c8a;
}

select, input[type="range"]{
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: none;
}